<!DOCTYPE html>
<html lang="es">
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/style.css" %}" />
	<title>{{titulo}}</title>
	<meta charset="utf-8" /> 
	<script src="{% static "scripts/jquery-2.1.0.min.js" %}"></script>
	<script>
	$(document).on("ready",function(){
		$("nav ul li").css("transition","all .5s ease-out");
	});
	</script>
	{% block scripts %}{% endblock %}
</head>
<body>

	<div id="contenido">
	{% include "Includes/header.html" %}

	{% include "Includes/aside.html" %}

	{% block ContenidoPrincipal %}

	<section id="ContenidoPrincipal">
		
		{% block contenido %}
		{% endblock %}
		
	</section>
	{%endblock%}


	<div id="wrapper">
	<div id="corte"></div>
	</div>

	{% include "Includes/footer.html" %}

	</div>


</body>
</html>