{% extends "base.html" %}

	{% block ContenidoPrincipal %}
	<section id="ContenidoPlano">
		{% block contenido %}
		<article>	
			<hgroup>
				<h1>Misión</h1>
			</hgroup>
			<p>Ofrecer un servicio que se encargue de organizar los trabajos que ofrecen los clientes en una plataforma, filtrarlos por área(Provincias/Distritos) para reducir los trabajos que puede aceptar el trabajador de equipos pesado dependiendo de su localización y así aumentar su eficiencia y eficacia a la hora de encontrar un trabajo, de esta manera se reducen los gastos(combustible, tiempo, etc.) de buscar un trabajo de manera convencional.</p>
		</article>

		<article>
			<hgroup>
				<h1>Visión</h1>
			</hgroup>
			<p>Ser una empresa que le facilite la vida tanto a los trabajadores de equipos pesados como a sus clientes(persona o empresa), sin importar la hora, ni el día ofreciendo un servicio totalmente automatizado para aumentar la productividad del trabajador.</p>
		</article>
	</section>
	{%endblock%}	
{% endblock %}